.preloader {
            background-color: #0e0e0e;
            /* background-color:#0e0e0ed4; */
            height: 100%;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 99999
        }

        .preloader .preloader-block {
            -webkit-transform: translate(50%, 50%);
            bottom: 50%;
            position: fixed;
            right: 50%;
            transform: translate(50%, 50%);
            z-index: 3000
        }

        .preloader .preloader-block .preloader-icon .loading-dot {
            background-color: #fff;
            border-radius: 50%;
            display: inline-block;
            height: 13px;
            width: 13px
        }

        .preloader .preloader-block .preloader-icon .loading-dot.loading-dot-1 {
            -webkit-animation: 1.2s grow ease-in-out infinite;
            animation: 1.2s grow ease-in-out infinite
        }

        .preloader .preloader-block .preloader-icon .loading-dot.loading-dot-2 {
            -webkit-animation: 1.2s grow ease-in-out infinite .15555s;
            animation: 1.2s grow ease-in-out infinite .15555s;
            margin: 0 14px
        }

        .preloader .preloader-block .preloader-icon .loading-dot.loading-dot-3 {
            -webkit-animation: 1.2s grow ease-in-out infinite .3s;
            animation: 1.2s grow ease-in-out infinite .3s
        }

        @-webkit-keyframes grow {

            0%,
            100%,
            40% {
                -webkit-transform: scale(0);
                transform: scale(0)
            }

            40% {
                -webkit-transform: scale(1);
                transform: scale(1)
            }
        }

        @keyframes grow {

            0%,
            100%,
            40% {
                -webkit-transform: scale(0);
                transform: scale(0)
            }

            40% {
                -webkit-transform: scale(1);
                transform: scale(1)
            }
        }

        .rotate-180 {
            transform: rotate(180deg);
        }

.filepond--credits {
        display: none !important;
    }

    .filepond--root {
        min-height: 60px;
    }

    .card,
    .card-body,
    .col-lg-4,
    .col-md-5 {
        overflow: visible !important;
    }

    .filepond--item {
        width: calc(25% - 0.5em);
    }

    .filepond--image-preview-overlay {
        display: none !important;
    }

    /* Toast base */
    #toast-container>div {
        border: 1px solid #e5e7eb;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
    }

    /* Title & message */
    .toast-message {
        font-size: 12px !important;
        text-wrap-mode: nowrap;
    }

    .toast-close-button:hover {
        opacity: 1;
    }

    /* ===============================
   Progress bar by toast type
   =============================== */

    /* Success */
    .toast-progress{
        background-color: #ffff !important;
    }

    /* Mobile responsive */
    @media (max-width: 480px) {
        #toast-container>div {
            padding: 12px 12px 12px 50px;
            width: 20em;
        }
    }

.filepond--credits {
        display: none !important;
    }

    .filepond--root {
        min-height: 60px;
    }

    .card,
    .card-body,
    .col-lg-4,
    .col-md-5 {
        overflow: visible !important;
    }

    .filepond--item {
        width: calc(25% - 0.5em);
    }

    .filepond--image-preview-overlay {
        display: none !important;
    }

    .select2-container--default .select2-selection--single {
        background: transparent;
        border: 0px solid black !important;
    }

    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 33px;
        user-select: none;
        -webkit-user-select: none;
    }

    .select2-selection__rendered {
        margin-top: 4px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 26px;
        position: absolute;
        top: 5px !important;
        right: 1px;
        width: 20px;
    }

.image-preview-container {
        width: 120px;
        height: 75px;
        background: #1f1f1f;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }

    .image-preview {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }